item-render {
  display: flex;
  align-items: center;
  justify-content: center;
}

item-render > .card {
  position: relative;
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 20px 50px;
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

item-render > .card img {
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin: 10px;
  border-radius: 15px;
}

item-render > .card-content {
  position: relative;
  margin: 10px;
}

item-render .close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 32px;
  padding: 10px;
  cursor: pointer;
}

.btn-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 16px 20px;
  font-size: 20px;
  font-weight: 700;
  background: #efa098;
  color: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 700px) {
  item-render > .card {
    flex-direction: column;
  }

  item-render > .card img {
    max-width: calc(100% - 20px);
  }

  item-render .close {
    font-size: 28px;
    padding: 5px;
  }
}
